
<div class="page-section__main">
  <div class="page-section__inner">
      <h1>{{ page.title }}</h1>

      <div class="rte">
        {{ page.content }}
      </div>
  </div>
</div>

<section class="viewport">
    
  <div id="scroll-container" class="scroll-container">
    <div class="content">
  
      <div class="img-container">
            <div class="section-vertical">
              <h2>About Us</h2>
              <div class="paragraph-wrap">
                <p>Published By is an Austrian fashion house that uses a combination of 3D printing, shredded recycled car parts and galvanizing technology to create lightweight metallic fashion accessories. 
</p>
              </div>
              
        </div>
      </div>       
      <div class="img-container">
            <div class="section">
              <h2>Vision & Goal </h2>
              <div class="paragraph-wrap">
                <p>Our vision at Published By is to be at the forefront of fashion innovation. Our goal is to merge the processes of the digital age with traditional craftsmanship to create shapes and products that are only possible by combining the best of the past with the possibilities of the future. 
</p>
                <p>Here at Published By every design is born in a digital environment, we use state of the art 3D modelling programs that are mostly applied in high-end CAD-manufacturing and others more commonly found in the entertainment industry. Creating our products in a procedural way allows us to iterate and finalize the 3D shape to the highest degree before 3D printing it in high resolution on our SLA 3D printers.</p>
                <p>Those printed prototypes allow us to discuss the design and function internally with our team as well as with the traditional craftsmen which help us to create the best final product possible. When we have finalized the product and are happy with the shape it is time to 3D print the master used in many different manufacturing processes, which all are fundamental to create our unique products. From vacuum resin casting to injection molding and even lost wax casting, the digital 3D model is essential in helping us bring the designs we imagined to life.Quality & unique design are our goals, we use all means possible in our modern age to achieve them.</p>
              </div>
              
        </div>
      <div class="img-container">
            <div class="section">
              <h2>Materials & Tools </h2>
              <div class="paragraph-wrap">
                <p>The core of our workflow and the goal that we want to reach is the perfect melding of engineering, or the process of making and the design that we have in mind. A big part of a good design is the material it is made from and the story it can tell. For that reason there is heavy focus on choosing the right materials for the right job from the early stages of a design onward.
</p>
                
                <p>Hand in hand with a digital workflow comes the difficult  task of bringing it into the material world, to achieve that  we work with the newest tools and technologies that the Rapid Prototyping field can offer. After these first steps we take during the creation of a new design, we step into the field of early production  and there we have to walk a very thin line at the forefront of material science, to make possible what few have tried.Together with several Institutes we work on creating new tools and blending new materials which then can be used to bring our unique product to our customers.</p>            
              </div>
              
        </div>
      </div>  
      <div class="img-container">
            <div class="section">
              <h2>Collaboration & Partnerships</h2>
              <div class="paragraph-wrap">
                <p>The fashion industry has a clear opportunity to act differently, pursuing profit and growth while also creating new value and deeper wealth for society and therefore for the world economy. Published By is collaborating with top universities globally to show students the potential of fashion design in the digital age through  multi-day workshops focusing on an end-to-end digital pipeline and the opportunities of rapid prototyping. The goal is to teach students how to create digital pipeline whilst minimizing the need for physical samples and wasting raw material. 
</p>
              </div>
              
        </div>
      </div>  


    </div>
  </div>
   
</section>
