.featured-collection {
  display: flex;
  flex-wrap: wrap;
  max-width: $grid-max-width;

  // to REMOVE
  margin: 300px 0 0 300px;
}

.featured-collection-item {
  flex: 1 1 percentage(1 / 3);
  height: 100%;
  text-align: center;
}

.featured-collection__image {
  min-width: 320px;
}

.featured-collection__title {
  flex-basis: 100%;
}

.grid{

    &__item{

      &--featured-collections{
        width: 100px;
        display: inline-block;
      }
    }
}

