body#published-by main {
    @media only screen and (max-width:800px) {
        margin-bottom: 0em;
    }
}
main {
    @media only screen and (max-width:800px) {
        margin-bottom: 15em;
    }
}
footer.site-footer {
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #000;
    background: white;

    @media only screen and (max-width:800px) {
        flex-direction: column;
        align-items: center;
        position: static;

        .page-width {
            &:first-of-type {
                order: 2;
                margin-top: 1em;
            }

            &:nth-of-type(2) {
                order: 1;
            } 
        }
    }

    .small--text-center{
        margin: 10px;
    }

    .site-footer__copyright-content-powered-by {
        font-size: 0.6em;
    }

    .site-footer__linklist{
        list-style: none;
        margin: 0;

        @media only screen and (max-width:800px) {
            display: flex;
            flex-direction: column;
            padding: 0;
        }
        
        &-item{
            display: inline-block;
            padding: 10px 20px;

            @media only screen and (max-width:800px) {
                text-align: center;
            }
        }
    }
}