@keyframes pulse {
    0% { transform: scale(1) };
    50% { transform: scale(1.05) };
    100% { transform: scale(1) };
  }

header[role=banner] {
    position: relative;
}


.mobile-nav {
    background: transparent;
    transition: all 0.3s ease-in-out;

    &-opened {
            background: rgba(255,255,255,0.9);
            z-index: 50;
            // left: 18px;
            // top: 18px;
            width: 100%;
            height: 100vh;
            overflow: hidden;
            transition: all 0.3s ease-in-out;
    }

    .nav-menu__box{
        max-height: 0;
        transition: max-height 0.3s ease-in;
        overflow: hidden;

        
        @media only screen and (max-width:992px) {
            background: transparent
        }
        
        &--opened{
            max-height: 100%;
            transition: max-height 0.3s ease-out;

            @media only screen and (max-width:992px) {
                // background: transparent;
                // background: rgba(255,255,255,0.2);
            }
            
        }
    }
}

//styles
section .nav-menu{
    position: fixed;
    z-index: 50;
    top: 0;
    // left: 20px;
    // top: 20px;

    @media screen and (max-width:992px) {
        // background: transparent;
        // transition: all 0.3s ease-out;

        &--openedNav {
            // background: rgba(255,255,255,0.9);
            //z-index: 10;
            // left: 18px;
            // top: 18px;
            // width: 100%;
            // height: 100vh;
            // overflow: hidden;
            

            // .nav-menu__logo {
            //     margin: 20px;
            // } 
        }
    }

    &__logo{
        position: absolute;
        top: 20px;
        left: 20px;

        @media screen and (max-width:992px) {
            // margin: 20px 0 0 15px;
        }
        

        &--animated{
            animation: pulse;
            animation-iteration-count: infinite;
            animation-duration: 2s;
            animation-timing-function: ease-out;
        }
    }

    &__box{
        //max-height: 0;
        transition: max-height 0.3s ease-in;
        overflow: hidden;
        // margin-left: 23px;
        width: 20vw;
        position: absolute;
        top: 60px;
        left: 24px;

        @media only screen and (max-width:992px) {
            // background: rgba(255,255,255,0.9);
            // margin-left: 20px;
            width: 80vw;
        }
        
        &--opened{
            // max-height: 230px;
            transition: max-height 0.3s ease-out;

            @media only screen and (max-width:992px) {
                // background: rgba(255,255,255,0.9);
            }
            
        }
    }

    //box nested
    &__list{
        display: block;
        margin: 0;
        padding-left: 4px;

        &::before{
            content: "";
            display: block;
            height: 80px;
            border-left: 1px solid #000;
        }

        ul{
            padding: 0;
        }
    }
    
    
    //list nested
    &__item{
        list-style: none;

        @media only screen and (max-width:992px) {
            padding-bottom: 0.75em
        }
        a { 
            display: inline-block;
            padding: 5px 0;
            @include leftHoverUnderscore;

        }
        
        &--child a{

            padding: 5px 0 5px 11px;

            @include leftHoverUnderscore;
            &::before{
                width: 10px;
            }
        }
    }

}

#logo {
    max-width: 250px;
}

body#published-by {
    section#nav-login{

        
        @media only screen and (max-width:992px) {
            position: fixed;
            //z-index: 10;
            left: 0;
            right: unset;
            top: unset;
            bottom: 0;
            width: 100%;
            background: #fff;
        }
    }

    section .nav-menu {
        // &__item{
        //     list-style: none;
            
        //     a { 
        //         display: inline-block;
        //         padding: 5px 0;
        //         &::before{
        //             content: "";
        //             display: inline-block;
        //             width: 0;
        //             border-bottom: 1px solid #000;
        //             transition: width 0.3s;
        //             margin-right: -4px;
        //         }
              
        //         &:hover::before{
        //             width: 100px;
        //         }
        //     }
            
        //     &--child a{
    
        //         padding: 5px 0 5px 11px;
    
        //         &::before{
        //             content: "";
        //             display: inline-block;
        //             width: 0;
        //             border-bottom: 1px solid #000;
        //             transition: width 0.3s;
        //             margin-right: -4px;
        //         }
              
        //         &:hover::before{
        //             width: 100px;
        //         }
        //         &::before{
        //             width: 10px;
        //         }
        //     }
        // }
    }

    section .nav-menu{
        // @media screen and (max-width:992px) {
        //     background: transparent;
        //     transition: all 0.3s ease-out;
    
        //     &--openedNav {
        //         // background: rgba(255,255,255,0.2) !important;
        //         // z-index: 10;
        //         // left: 18px;
        //         // top: 18px;
        //         width: 100%;
        //         height: 100vh;
        //         overflow: hidden;
                
    
        //         // .nav-menu__logo {
        //         //     margin: 20px;
        //         // } 
        //     }
        // }

        &__box{
            //max-height: 0;
            transition: max-height 0.3s ease-in;
            overflow: hidden;

            
            @media only screen and (max-width:992px) {
                background: transparent
            }
            
            &--opened{
                // max-height: 230px;
                transition: max-height 0.3s ease-out;
    
                @media only screen and (max-width:992px) {
                    // background: transparent;
                    // background: rgba(255,255,255,0.2);
                }
                
            }
        }
    }
}



//TO_DO BEM
.nav-login{
    position: fixed;
    z-index: 50;
    right: 20px;
    top: 15px;
    
    @media only screen and (max-width:992px) {
        position: fixed;
        z-index: 50;
        left: 0;
        right: unset;
        top: unset;
        bottom: 0em;
        width: 100%;
        background: #fff;
        transform: translateY(100%);
        transition: all 0.5s ease;
    }


    &-up {
        transform: translateY(0%);
        z-index: 51;
    }

    ul{
        @media only screen and (max-width:992px) {
            padding: 0;
            margin-left: 5vw;
        }
        
        li{
            list-style: none;
            display: inline-block;

            a{
                padding: 5px 10px;

                @media only screen and (max-width:992px) {
                    color: #000;
                }
                &:hover{
                    text-decoration: underline;
                }
            }
        }

    }
}



#instagram {
    div.page-section__inner h1 {
        display: none;
    }


    .rte {
        margin-top: 15vh;
    }
}


.nav-menu{


    &__logo{
        margin: 0;
        

        &--animated{
            animation: pulse;
            animation-iteration-count: infinite;
            animation-duration: 2s;
            animation-timing-function: ease-out;
        }
    }
}