@keyframes pulse {
    0% { transform: scale(1) };
    50% { transform: scale(1.05) };
    100% { transform: scale(1) };
  }


//mixins
@mixin leftHoverUnderscore {
    &::before{
        content: "";
        display: inline-block;
        width: 0;
        border-bottom: 1px solid #000;
        transition: width 0.3s;
        margin-right: -4px;
    }

    &:hover::before{
        width: 100px;
    }
}


//styles
section .nav-menu{
    position: fixed;
    z-index: 10;
    left: 20px;
    top: 20px; 

    &__logo{
        margin: 0;
        

        &--animated{
            animation: pulse;
            animation-iteration-count: infinite;
            animation-duration: 2s;
            animation-timing-function: ease-out;
        }
    }

    &__box{
        max-height: 0;
        transition: max-height 0.3s ease-in;
        overflow: hidden;
        
        &--opened{
            // max-height: 230px;
            transition: max-height 0.3s ease-out;
        }
    }

    //box nested
    &__list{
        display: block;
        margin: 0;
        padding-left: 4px;

        &::before{
            content: "";
            display: block;
            height: 80px;
            border-left: 1px solid #000;
        }

        ul{
            padding: 0;
        }
    }
    
    
    //list nested
    &__item{
        list-style: none;
        
        a { 
            display: inline-block;
            padding: 5px 0;
            @include leftHoverUnderscore;
        }
        
        &--child a{

            padding: 5px 0 5px 11px;

            @include leftHoverUnderscore;
            &::before{
                width: 10px;
            }
        }
    }

}



//TO_DO BEM
section#nav-login{
    position: fixed;
    z-index: 10;
    right: 20px;
    top: 15px; 

    ul{
        
        li{
            list-style: none;
            display: inline-block;

            a{
                padding: 5px 10px;
                &:hover{
                    text-decoration: underline;
                }
            }
        }

    }
}