.flex-wrapper{
    display: flex;
    & > *{
        flex: 1 1 auto;
        max-width: 50%;
    }
}

.slider {
    position: relative;

    .responsive-image__wrapper{
        height: 100vh;
    }

    .dots{
        position: absolute;
        top: 0;

        ul{
            
            li {
                list-style: none;
                display: inline-block;
                span{
                    display:block;
                    width: 20px;
                    height: 20px;
                    background: #000;
                    margin: 3px;
                    border-radius: 10px;
                    boreder: 1px solid black;

                    &:hover{
                        background: white;
                        border: 1px solid black;
                    }
                }
            }
        }
    }

}

.description{
    text-align: right;
    padding-top: 10%;

    input{
        line-height: 45px;
        width: 60px;
        border: 1px solid ;
        padding-left: 10px; 
        outline: 0;
    }
    
    button{
        margin: 50px 0;
            padding: 10px;
            border: 1px solid ;
            background: none;
            outline: 0;

            &:hover{
                background: #000;
                color: #fff
            }
    }
}
