{%- comment -%}

{%- endcomment -%}


<section class="video">

  {% comment %} <video class="video-desktop"  autoplay muted loop src="{{ section.settings.videoUrl }}" type="video/mp4" frameborder="0">
     Your browser does not support the video tag.
  </video> {% endcomment %}

    <video class="video-desktop"  autoplay muted loop src="https://cdn.shopify.com/s/files/1/0194/2470/6624/files/Rendering-Stonebag-16-zu-9.avi.mp4" type="video/mp4" frameborder="0">
     Your browser does not support the video tag.
  </video>
  

</section>


<section class="video">

  <video class="video-mobile"  autoplay muted loop src="https://cdn.shopify.com/s/files/1/0049/4190/6023/files/Rendering-Stonebag-9-zu-16.mp4" type="video/mp4" frameborder="0">
     Your browser does not support the video tag.
  </video>
  

</section>

{% schema %}
  {
    "name": "Video",
    
    "settings": [
      {
        "type": "text",
        "id": "videoUrl",
        "label": "video URL from shopify files",
        "default": "https://cdn.shopify.com/s/files/1/0194/2470/6624/files/Rendering-Stonebag-16-zu-9.avi.mp4"
      },
      {
        "type": "text",
        "id": "mobileVideoUrl",
        "label": "video URL from shopify files",
        "default": "https://cdn.shopify.com/s/files/1/0194/2470/6624/files/Rendering-Stonebag-9-zu-16.mp4"
      }
    ],

    "presets": [{
      "name": "Video",
      "category": "Video"
    }]
  }
{% endschema %}


{% comment %} TO_DO move to sass {% endcomment %}
{% stylesheet %}


  body{
    overflow: hidden;
  }

{% endstylesheet %}