{%- comment -%}

{%- endcomment -%}


<section class="video">

  <p>video...</p>

</section>

{% schema %}
  {
    "name": "Video",
    
    "settings": [
      {
        "type": "text",
        "id": "section_title",
        "label": "Heading",
        "default": "Video..."
      }
    ],

    "presets": [{
      "name": "Video",
      "category": "Video"
    }]
  }
{% endschema %}
